

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container{
  margin: 0 auto;
  width: 420px;
}

h1{
  background-color: #aaa;
   width: 400px;
   border: 10px solid darkgray;
   padding: 25px;
   margin: 10px;
   text-align: left;

}

h3 {
  background-color: #aaa;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: -100px;
  margin-right: 50px; /* counts toward width */
  margin-bottom: 50px;
  margin-left: 50px; /* counts toward width */
  padding-top: 3px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  width: 350px; /* counts toward width */
  display: block;
  float: left;
  text-align: left;
}

section container.nav .arrow-left {
  line-height: 420px;
  display: inline-block;
  float:left;
}

restaurant-list.arrow-right {
  float: right;
  display: inline-block;
  float:right;

}

nav {
  background-color: #000;
  margin: 40px auto
  padding: 30px 30px 30px 30px;
  position:0;
  width: 520px;
}
